<form action="/update_idea/<%= @idea.id %>">
  
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2> Edit your idea!</h2>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"> <input type="text" name='name' placeholder="Name" value="<%= @idea.name %>" size="25em"> </h3>
          </div>
          <div class="panel-body">
            <input type="text" name='idea' placeholder="What is your idea?" value="<%= @idea.idea %>" size="75em">
          </div>
            <input type="submit">
        </div>

      </div>
    </div>  
  </div>
  
</form>