

<form action="create_idea">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
       
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">   What is your idea? </h3>
          </div>
          <div class="panel-body">
            <input type="text" name="name" placeholder="Name" size="25em">
            <br>
            <input type="text" name="idea" placeholder="What is your idea?" size="75em">
            <input type="submit">
          </div>
        </div>

      </div>
    </div>  
  </div>
</form>